*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

p{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

section{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url(bmwx7.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.section2{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url(Gwagon.jpg);
}

.section3{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url(audiq8.webp);
    background-attachment: fixed;
}

.section4{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url(jag_f-pace.jpg);
    background-attachment: fixed;
}

.section5{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url(mansory_defender.jpg);
}

.section6{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),url(RVSport.webp);
}